@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.cafe__page {
  width: 700px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 30px;
}
