.title-bar-light {
  background-color: #1e3933;
  padding: 50px;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  position: relative;
}
.title-bar-dark {
  background-color: #bebebe;
  padding: 50px;
  color: #000;
  font-size: 2rem;
  text-align: center;
  position: relative;
}
